# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
.pytest_cache/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store

# =========================
# MLflow Local Storage
# =========================
mlruns/
mlartifacts/

# =========================
# Generated ML Models
# =========================
models/
*.pkl
*.joblib

# =========================
# Test / Coverage
# =========================
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log